@charset "utf-8";


/* 기본 설정 */
body, div, ul, li{margin:0; padding:0; border:0;}
ul, li{list-style:none;}
a{color:#fff; text-decoration:none;} /* a 링크 색 color:#fff;로 조절 */
img{margin:0; padding:0; border:0;}


.menu li{float:left; line-height:37px; padding:0 30px;}


/* 갤러리 슬라이드 */				
.slide {position:relative; width:1280px; height:500px; text-align:center; }
.slides_container {position:relative; width:1280px; overflow:hidden; display:none;}
.slides_container a {width:1280px; height:500px; display:block;}
.slides_container a img {display:block;}
	/* 좌우 화살표 */
	.prev {position:absolute; top:200px; left:15px;  width:40px; height:70px; display:block; z-index:100;}
	.next {position:absolute; top:200px; right:15px;  width:40px; height:70px; display:block; z-index:100;}
	
	/* 하단 네비게이션 */
	.pagination {margin:30px auto 0; display:inline-block;}
	.pagination li {float:left; margin:0 15px; text-align:center;}
	.pagination li a {display:block; width:12px; height:0; padding-top:12px; background-image:url(../imgs/navigation.png);background-position:0 0; float:left; overflow:hidden;}
	.pagination li.current a {background-position:0 -12px;}	

/*
- 갤러리 사이즈 조절 -
1. 실제 이미지를 원하는 사이즈로 편집
2. width:980px; 된 부분을 모두 원하는 넓이 값으로 수정
3. height:453px; 된 부분을 모두 원하는 높이 값으로 수정
*/	